<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AskPumpkin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
                </form>
                <button class="btn btn-success ask-button" type="button">ASK!</button>
            </div>
            <div class="user-info-block">
                <a class="navbar-account-link" href="#" target="_blank">log in</a>
            </div>
            <div class="user-info-block">
                <a class="navbar-account-link" href="#" target="_blank">register</a>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">

        <div class="row">
            <div class="col-8">
                <h1>Log in</h1>

            <label class="error-label" for="typeText">Sorry, wrong password :(</label>
                <form>
                    <div class="mb-3 form-field">
                        <label class="form-label" for="title-text-input">Login</label>
                        <input id="title-text-input" type="text" class="form-control default-data-field form-field" placeholder="Enter your login here" required name="login">
                    </div>
                    <div class="mb-3 form-field">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control default-data-field form-field" id="exampleInputPassword1" placeholder="Enter your password here" required name="password">
                    </div>
                    <button type="submit" class="btn btn-success log-in-button">Log in</button>
                    <div class="create-account-link">
                        <a href="registration.html">create new account</a>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <h1>Popular Tags</h1>
                <div class="popular-tags">
                    <a class="usual-tag" href="#" target="_blank">Swift</a>
                    <a class="red-tag" href="#" target="_blank">UIKit</a>
                    <a class="usual-tag" href="#" target="_blank">VK Education</a>
                    <a class="usual-tag" href="#" target="_blank">Kazahstan bilety</a>
                    <a class="green-tag" href="#" target="_blank">Cats</a>
                    <a class="usual-tag" href="#" target="_blank">Dogs</a>
                    <a class="red-tag" href="#" target="_blank">Memes</a>
                </div>
                <h1>Best Members</h1>
                <div class="best-member-link">
                    <a href="#">Juicy Maffin</a>
                    <a href="#">Angry Guy</a>
                    <a href="#">BMSTU studsovet</a>
                    <a href="#">Cat228</a>
                    <a href="#">Gon</a>
                    <a href="#">Killya</a>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>
