<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Question</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AskPumpkin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="btn btn-success ask-button" type="button">ASK!</button>
            </div>
            <div class="user-info-block">
                <div class="navbar-avatar">
                    <img src="../static/img/avatar-1.jpg" alt="" />
                </div>
            </div>
        <div class="mb-3">
            <label class="name-label" >Nastya Ishenko</label>
            <div class="navbar-account-links">
                <div class="user-info-block">
                    <a class="navbar-account-link" href="#" target="_blank">settings</a>
                </div>
                <div class="user-info-block">
                    <a class="navbar-account-link" href="#" target="_blank">log out</a>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="question-focused">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar-1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-10">
                            <h1>Анекдот дня</h1>
                            <div class="question-text">
                                - Слушай, Изя, я знаю гениальный способ, как в ресторане бесплатно поесть.
                                <br/> - А ну, Абрам, рассказывай.
                                <br/>- Идёшь в хорошее заведение незадолго до закрытия. Заказываешь закусочку, лучшие блюда, десерт, коньяк. Когда все официанты разойдутся, последний подойдёт к тебе, а ты говоришь: "А я уже заплатил вашему товарищу, который ушёл".
                                На следующий день пошли в ресторан. Заказывают всё по полной программе и сидят. Наконец подходит последний официант:
                                <br/>- Извините, но пора закрывать, прошу оплатить заказ.
                                Абрам:
                                <br/>- Но мы уже вашему коллеге деньги дали.
                                Изя:
                                <br/>- Кстати, нам ещё долго ждать сдачу?

                                <br/><br/>А какие ваши любимые анекдоты?
                            </div>
                        </div>
                    </div>
                    <div class="row question-extra-infromation">
                        <div class="col-2 rating-counter-block">
                            <button class="btn-sm btn-block btn-primary question-button">-</button>
                            <span class="rating"> 4 </span>
                            <button class="btn-sm btn-block btn-primary question-button">+</button>
                        </div>
                        <div class="col-10">
                            <span>Tags:</span>
                            <a href="#">funny</a>
                            <a href="question_tag.html">memes</a>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar-2.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="answer-text">
                                Я анекдот про табуретку люблю
                            </div>
                        </div>
                    </div>
                    <div class="row question-extra-infromation">
                        <div class="col-2 rating-counter-block">
                            <button class="btn-sm btn-block btn-primary question-button">-</button>
                            <span class="rating"> 2 </span>
                            <button class="btn-sm btn-block btn-primary question-button">+</button>
                        </div>
                        <div class="col-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled checked>
                                <label class="form-check-label" for="flexCheckDisabled">
                                    Correct
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar-3.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="answer-text">
                                Если вам одиноко, посмотрите на ночь фильм ужасов - и вам будет казаться, что дома кто-то есть...
                            </div>
                        </div>
                    </div>
                    <div class="row question-extra-infromation">
                        <div class="col-2 rating-counter-block">
                            <button class="btn-sm btn-block btn-primary question-button">-</button>
                            <span class="rating"> 1 </span>
                            <button class="btn-sm btn-block btn-primary question-button">+</button>
                        </div>
                        <div class="col-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                                <label class="form-check-label" for="flexCheckDisabled">
                                    Correct
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mb-3 form-field">
                    <textarea class="form-control form-field" id="textAreaExample" rows="5" placeholder="Enter your answer here"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success answer-button">Answer</button>
            </div>
            <div class="col-4">
                <h1>Popular Tags</h1>
                <div class="popular-tags">
                    <a class="usual-tag" href="#" target="_blank">Swift</a>
                    <a class="red-tag" href="#" target="_blank">UIKit</a>
                    <a class="usual-tag" href="#" target="_blank">VK Education</a>
                    <a class="usual-tag" href="#" target="_blank">Kazahstan bilety</a>
                    <a class="green-tag" href="#" target="_blank">Cats</a>
                    <a class="usual-tag" href="#" target="_blank">Dogs</a>
                    <a class="red-tag" href="#" target="_blank">Memes</a>
                </div>
                <h1>Best Members</h1>
                <div class="best-member-link">
                    <a href="#">Juicy Maffin</a>
                    <a href="#">Angry Guy</a>
                    <a href="#">BMSTU studsovet</a>
                    <a href="#">Cat228</a>
                    <a href="#">Gon</a>
                    <a href="#">Killya</a>
                </div>
            </div>
        </div>
    </div>

</main>

</body>
</html>
