<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Questions</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AskPumpkin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="btn btn-success ask-button" type="button">ASK!</button>
            </div>
            <a class="name-link" href="#" target="_blank">Nastya Ishenko</a>
            <div class="user-info-block">
                <div class="navbar-avatar">
                    <img src="../static/img/avatar-1.jpg" alt="" />
                </div>
            </div>
            <div class="user-info-block">
                <a class="navbar-account-link" href="#" target="_blank">settings</a>
            </div>
            <div class="user-info-block">
                <a class="navbar-account-link" href="#" target="_blank">log out</a>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Tag: memes</h1>
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar-1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-10">
                            <a class="question-title" href="one_question.html">Your favourite meme</a>
                            <div class="question-text">
                                Please, send me the best meme you've ever seen. My life depends on it.
                            </div>
                        </div>
                    </div>
                    <div class="row question-extra-infromation">
                        <div class="col-2 rating-counter-block">
                            <button class="btn-sm btn-block btn-primary question-button">-</button>
                            <span class="rating"> 100 </span>
                            <button class="btn-sm btn-block btn-primary question-button">+</button>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-4">
                                    <a href="#">answer (101)</a>
                                </div>
                                <div class="col-8">
                                    <span>Tags:</span>
                                    <a href="#">memes</a>
                                    <a href="#">life</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/avatar-2.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-10">
                            <a class="question-title" href="#">How to study in BMSTU????</a>
                            <div class="question-text">
                                How do you usually find any time for your own business?
                            </div>
                        </div>
                    </div>
                    <div class="row question-extra-infromation">
                        <div class="col-2 rating-counter-block">
                            <button class="btn-sm btn-block btn-primary question-button">-</button>
                            <span class="rating"> 30 </span>
                            <button class="btn-sm btn-block btn-primary question-button">+</button>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-4">
                                    <a href="#">answer (31)</a>
                                </div>
                                <div class="col-8">
                                    <span>Tags:</span>
                                    <a href="#">memes</a>
                                    <a href="#">study</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/no-avatar.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-10">
                            <a class="question-title" href="#">How to get New Years mood?</a>
                            <div class="question-text">
                                New Years holidays aren't too far...
                            </div>
                        </div>
                    </div>
                    <div class="row question-extra-infromation">
                        <div class="col-2 rating-counter-block">
                            <button class="btn-sm btn-block btn-primary question-button">-</button>
                            <span class="rating"> 15 </span>
                            <button class="btn-sm btn-block btn-primary question-button">+</button>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-4">
                                    <a href="#">answer (12)</a>
                                </div>
                                <div class="col-8">
                                    <span>Tags:</span>
                                    <a href="#">memes</a>
                                    <a href="#">holidays</a>
                                    <a href="#">New Year</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">51</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h1>Popular Tags</h1>
                <div class="popular-tags">
                    <a class="usual-tag" href="#" target="_blank">Swift</a>
                    <a class="red-tag" href="#" target="_blank">UIKit</a>
                    <a class="usual-tag" href="#" target="_blank">VK Education</a>
                    <a class="usual-tag" href="#" target="_blank">Kazahstan bilety</a>
                    <a class="green-tag" href="#" target="_blank">Cats</a>
                    <a class="usual-tag" href="#" target="_blank">Dogs</a>
                    <a class="red-tag" href="#" target="_blank">Memes</a>
                </div>
                <h1>Best Members</h1>
                <div class="best-member-link">
                    <a href="#">Juicy Maffin</a>
                    <a href="#">Angry Guy</a>
                    <a href="#">BMSTU studsovet</a>
                    <a href="#">Cat228</a>
                    <a href="#">Gon</a>
                    <a href="#">Killya</a>
                </div>
            </div>
        </div>
    </div>

</main>

</body>
</html>
