<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AskPumpkin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="btn btn-success ask-button" type="button">ASK!</button>
            </div>
            <div class="user-info-block">
                <a class="navbar-account-link" href="#" target="_blank">log in</a>
            </div>
            <div class="user-info-block">
                <a class="navbar-account-link" href="#" target="_blank">register</a>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Registration</h1>
                <label class="error-label" for="typeText">Sorry, this email address is already registered :(</label>
                <form action="new_questions.html" method=post oninput='second.setCustomValidity(first.value != second.value ? "Passwords do not match." : "")'>
                    <div class="mb-3 row">
                        <label class="col-2 col-form-label" for="title-text-input">Login</label>
                        <div class="col-10">
                            <input id="title-text-input" type="text" class="form-control default-data-field" placeholder="Enter your login here">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-2 col-form-label" for="email-text-input">Email</label>
                        <div class="col-10">
                            <input id="email-text-input" type="email" class="form-control default-data-field" placeholder="Enter your email here" required name="email">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-2 col-form-label" for="nickname-text-input">Nickname</label>
                        <div class="col-10">
                            <input id="nickname-text-input" type="text" class="form-control default-data-field" required name="nickName" placeholder="Enter your nickname here">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="exampleInputPassword1" class="col-2 col-form-label">Password</label>
                        <div class="col-10">
                            <input type="password" class="form-control default-data-field" id="exampleInputPassword1" required name="first" placeholder="Enter your password here">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="exampleInputPassword2" class="col-2 col-form-label">Repeat Password</label>
                        <div class="col-10">
                            <input type="password" class="form-control default-data-field" id="exampleInputPassword2" required name="second" placeholder="Confirm your password">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="form-file" class="col-2 col-form-label">Avatar</label>
                        <div class="col-10">
                            <input class="form-control default-data-field" type="file" id="form-file">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success register-button">Register</button>
                </form>
            </div>
            <div class="col-4">
                <h1>Popular Tags</h1>
                <div class="popular-tags">
                    <a class="usual-tag" href="#" target="_blank">Swift</a>
                    <a class="red-tag" href="#" target="_blank">UIKit</a>
                    <a class="usual-tag" href="#" target="_blank">VK Education</a>
                    <a class="usual-tag" href="#" target="_blank">Kazahstan bilety</a>
                    <a class="green-tag" href="#" target="_blank">Cats</a>
                    <a class="usual-tag" href="#" target="_blank">Dogs</a>
                    <a class="red-tag" href="#" target="_blank">Memes</a>
                </div>
                <h1>Best Members</h1>
                <div class="best-member-link">
                    <a href="#">Juicy Maffin</a>
                    <a href="#">Angry Guy</a>
                    <a href="#">BMSTU studsovet</a>
                    <a href="#">Cat228</a>
                    <a href="#">Gon</a>
                    <a href="#">Killya</a>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
