{% load static %}

<div class="question-answer">
<div class="row">
    <div class="col-2">
        <div class="avatar">
            <img src="{% static "img/avatar-2.jpg"%}" alt="" />
        </div>
    </div>
    <div class="col-10">
        <div class="answer-text">
            {{ answer.text }}
        </div>
    </div>
</div>
<div class="row question-extra-infromation">
    <div class="col-2 rating-counter-block">
        <button class="btn-sm btn-block btn-primary question-button">-</button>
        <span class="rating"> {{ answer.rating }} </span>
        <button class="btn-sm btn-block btn-primary question-button">+</button>
    </div>
    <div class="col-10">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="flexCheckDisabled" disabled {{ answer.is_correct }}>
            <label class="form-check-label" for="flexCheckDisabled">
                Correct
            </label>
        </div>
    </div>
</div>
</div>