{%  load static %}

 <div class="user-info-block">
    <div class="navbar-avatar">
        <img src="{% static 'img/avatar-1.jpg' %}" alt="" />
    </div>
</div>
<div class="mb-3">
    <label class="name-label" >Nastya Ishenko</label>
    <div class="navbar-account-links">
        <div class="user-info-block">
            <a class="navbar-account-link" href="{% url 'settings' %}" target="_blank">settings</a>
        </div>
        <div class="user-info-block">
            <a class="navbar-account-link" href="{% url 'auth' %}" target="_blank">log out</a>
        </div>
    </div>
</div>